# Directories #
/build/
/bin/
target/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_2
BVW Feedback Parser/original_output/*
